<div id="list">
    {{ $currentPage := . }}
    {{ range .Site.Pages.GroupByParam "x_docType"  }}
    <div class="menu-header">
        {{ if eq .Key "A" }}Invoices
            {{ else if eq .Key "B" }}Receipts
            {{ else if eq .Key "C" }}Credit Notes
            {{ else if eq .Key "D" }}Bills
            {{ else if eq .Key "E" }}Income
            {{ else if eq .Key "F" }}Other
        {{ end }}
    </div>
    <ul class="main-list">
        {{ range sort .Pages ".Params.x_mydata_type"  }}
        <li><a href="{{ .Permalink }}" {{ if eq $currentPage.RelPermalink .RelPermalink }}class="selected-example"
               {{ end }}>{{ .Params.title }}
            <span class="mydata-type">myDATA type: {{ .Params.x_mydata_type }} </span>
        </a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>

