{
    "swagger": "2.0",
    "info": {
        "title": "Elorus Developer API",
        "description": "\nThe Elorus developer API enables external applications access the [Elorus \nplatform](https://www.elorus.com) and update organization data \nprogrammatically. For example, you may use the API to:\n\n- Update your data without interacting with the Elorus user interface\n- Connect your e-shop / website, automate the invoicing process and \nsynchronize data\n- Use Elorus as your billing system\n\nThis portal provides documentation for developers to access and \nuse the Elorus API. \n\n<div style=\"margin-top: 40px; background-color: #ee9800; color: #fff; \npadding: 20px;\">\n<h2 style=\"margin-top: 0; color: #fff; font-size: 20px;\">\nDeprecation warning</h2>\nYou are currently viewing an older version of the API. The Elorus API \nversion 1.0 is no longer supported and <b>will be shutdown on May 01, 2021</b>.\nPlease update your existing applications to use the \n<a href=\"./index.html\" style=\"color: #004; text-decoration: underline;\">\nlatest version</a> instead.\n</div>\n",
        "version": "1.0",
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://developer.elorus.com/img/elorus-logo-api.svg"
        }
    },
    "host": "api.elorus.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "API key": {
            "description": "\nTo connect to the API one must be registered with Elorus and own an \n**API key**. The API key is bound to a specific user, and therefore\n can be used to perform any action the user can perform within Elorus.\nTo obtain your key you must contact the Elorus support team. \n\nThe *API key* must be sent on every request through the standard \n`Authorization` HTTP header as follows:\n\n    Authorization: Token <the_token>\n\n",
            "in": "header",
            "name": "Authorization",
            "type": "apiKey"
        }
    },
    "security": [
        {
            "API key": []
        }
    ],
    "paths": {
        "/v1.0/cashpayments/": {
            "get": {
                "operationId": "cashpayments_list",
                "description": "Get the list of payments sent.\n---",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `title`, `contact__display_name`, `date`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contact",
                        "in": "query",
                        "description": "Optionally filter by contact ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "currency_code",
                        "in": "query",
                        "description": "Optionally filter by currency code.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "transaction_type",
                        "in": "query",
                        "description": "Optionally filter by transaction type. Either `dp`, `ip` or `cnp`",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "purchase",
                        "in": "query",
                        "description": "Optionally filter by bill ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "creditnote",
                        "in": "query",
                        "description": "Optionally filter by credit note ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cheque",
                        "in": "query",
                        "description": "Optionally filter by cheque ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `date`, `amount`, `contact__display_name`. Prepend a `-` to denote reverse ordering (e.g `-date`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period_from",
                        "in": "query",
                        "description": "Optionally filter results from a date onwards.Must be used with the `period_to` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period_to",
                        "in": "query",
                        "description": "Optionally filter results from a date backwards.Must be used with the `period_from` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tc_<trackingcategory_id>",
                        "in": "query",
                        "description": "Optionally filter by any applied tracking category. The filter's name is parameterized using the tracking category's id. The filter's value can be any of the category's options. For example `?tc_12345=test` means that all records which have been tracked as `test` using `12345` category, will be returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUV1CashPaymentList"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/"
            },
            "post": {
                "operationId": "cashpayments_create",
                "description": "Create a new payment sent.\n---\nWhen adding a new bill or credit note payment that\nexceeds the bill due amount, the remaining amount is stored\nas \"amount in excess\" and can be used in future transactions.\n\n**IMPORTANT NOTE:**\nYou cannot associate a single transaction with multiple\nbills or credit notes using this version of the API.\nFor more information, see the\n[payments sent](#tag/cashpayments) section.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1CashPaymentCreate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentCreate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/"
            },
            "parameters": []
        },
        "/v1.0/cashpayments/{id}/": {
            "get": {
                "operationId": "cashpayments_read",
                "description": "Get a single payment sent.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentRetrieveUpdate"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{id}/"
            },
            "put": {
                "operationId": "cashpayments_update",
                "description": "Update a payment sent.\n---\nNote that you cannot update the bill, credit note or\ncheque of the payment. For example, you cannot assign\na bill to a payment after it was created.\n\nWhen updating bill, credit note or cheque payments,\nyou will not be able to change the amount, nor the contact.\nIn addition, the transaction type cannot be modified.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1CashPaymentRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{id}/"
            },
            "patch": {
                "operationId": "cashpayments_partial_update",
                "description": "Partially update a payment sent.\n---\nThe only difference between full & partial update is that the latter\nwill treat all parameters as optional. You may omit any parameter\nin order to keep the old value.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{id}/"
            },
            "delete": {
                "operationId": "cashpayments_delete",
                "description": "Delete a payment sent.\n---\nDeleting a bill or credit note payment may result\nin changing the corresponding document's status. For example, if the\nbill was marked as 'paid' it will now revert to 'issued' or\n'partially paid' (depending on whether other payments exist as well).",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashpayments/{parent_pk}/attachments/": {
            "get": {
                "operationId": "cashpayments_attachments_list",
                "description": "Get the list of attachments.\n---\nThe list of attachments for the specified record.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUV1CashPaymentAttachmentListRetrieve"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{parent_pk}/attachments/"
            },
            "post": {
                "operationId": "cashpayments_attachments_create",
                "description": "Create a new attachment.\n---\nAdds a new attachment to the specified record.\nThe actual attachment file must be sent within the request body.\n**Incoming data must be encoded as `multipart/form-data`**.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name.",
                        "required": false,
                        "type": "string",
                        "maxLength": 120,
                        "minLength": 1
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "The actual file data",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentationAttachmentCreate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{parent_pk}/attachments/"
            },
            "parameters": [
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashpayments/{parent_pk}/attachments/{id}/": {
            "get": {
                "operationId": "cashpayments_attachments_read",
                "description": "Get a single attachment.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentAttachmentListRetrieve"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/"
            },
            "patch": {
                "operationId": "cashpayments_attachments_partial_update",
                "description": "Partially update an attachment.\n---\nYou may change the attachment title but you cannot\nreplace the actual file. **Incoming data\nmust be encoded as `multipart/form-data`.**",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name.",
                        "required": false,
                        "type": "string",
                        "maxLength": 120,
                        "minLength": 1
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashPaymentAttachmentListRetrieve"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/"
            },
            "delete": {
                "operationId": "cashpayments_attachments_delete",
                "description": "Delete an attachment.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashpayments/{parent_pk}/attachments/{id}/file/": {
            "get": {
                "operationId": "cashpayments_attachments_file",
                "description": "Get the actual attachment file.\n---\nThis endpoint may return a `307` redirect response.\nTo retrieve the file you should follow the redirection.",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The file contents"
                    },
                    "307": {
                        "description": "Redirection to an external service (e.g. Microsoft Azure) to download the file"
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashpayments"
                ],
                "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/file/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashreceipts/": {
            "get": {
                "operationId": "cashreceipts_list",
                "description": "Get the list of payments received.\n---",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `title`, `contact__display_name`, `date`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contact",
                        "in": "query",
                        "description": "Optionally filter by contact ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "currency_code",
                        "in": "query",
                        "description": "Optionally filter by currency code.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "transaction_type",
                        "in": "query",
                        "description": "Optionally filter by transaction type. Either `dp`, `ip` or `cnp`",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "invoice",
                        "in": "query",
                        "description": "Optionally filter by invoice ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "purchasecreditnote",
                        "in": "query",
                        "description": "Optionally filter by supplier credit ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cheque",
                        "in": "query",
                        "description": "Optionally filter by cheque ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `date`, `amount`, `contact__display_name`. Prepend a `-` to denote reverse ordering (e.g `-date`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period_from",
                        "in": "query",
                        "description": "Optionally filter results from a date onwards.Must be used with the `period_to` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period_to",
                        "in": "query",
                        "description": "Optionally filter results from a date backwards.Must be used with the `period_from` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tc_<trackingcategory_id>",
                        "in": "query",
                        "description": "Optionally filter by any applied tracking category. The filter's name is parameterized using the tracking category's id. The filter's value can be any of the category's options. For example `?tc_12345=test` means that all records which have been tracked as `test` using `12345` category, will be returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUV1CashReceiptList"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/"
            },
            "post": {
                "operationId": "cashreceipts_create",
                "description": "Create a new payment received.\n---\nWhen adding a new invoice or supplier credit payment that\nexceeds the invoice due amount, the remaining amount is stored\nas \"amount in excess\" and can be used in future transactions.\n\n**IMPORTANT NOTE:**\nYou cannot associate a single transaction with multiple\ninvoices or supplier credits using this version of the API.\nFor more information, see the\n[payments received](#tag/cashreceipts) section.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1CashReceiptCreate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptCreate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/"
            },
            "parameters": []
        },
        "/v1.0/cashreceipts/{id}/": {
            "get": {
                "operationId": "cashreceipts_read",
                "description": "Get a single payment received.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptRetrieveUpdate"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{id}/"
            },
            "put": {
                "operationId": "cashreceipts_update",
                "description": "Update a payment received.\n---\nNote that you cannot update the invoice, supplier credit or\ncheque of the payment. For example, you cannot assign\nan invoice to a payment after it was created.\n\nWhen updating invoice, supplier credit or cheque payments,\nyou will not be able to change the amount, nor the contact.\nIn addition, the transaction type cannot be modified.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1CashReceiptRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{id}/"
            },
            "patch": {
                "operationId": "cashreceipts_partial_update",
                "description": "Partially update a payment received.\n---\nThe only difference between full & partial update is that the latter\nwill treat all parameters as optional. You may omit any parameter\nin order to keep the old value.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{id}/"
            },
            "delete": {
                "operationId": "cashreceipts_delete",
                "description": "Delete a payment received.\n---\nDeleting an invoice or supplier credit payment may result\nin changing the corresponding document's status. For example, if the\ninvoice was marked as 'paid' it will now revert to 'issued' or\n'partially paid' (depending on whether other payments exist as well).",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashreceipts/{id}/pdf/": {
            "get": {
                "operationId": "cashreceipts_pdf",
                "description": "Get a payment received as PDF.\n---\nOnly client payments can be rendered to PDF.",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptRetrieveUpdate"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{id}/pdf/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashreceipts/{parent_pk}/attachments/": {
            "get": {
                "operationId": "cashreceipts_attachments_list",
                "description": "Get the list of attachments.\n---\nThe list of attachments for the specified record.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUV1CashReceiptAttachmentListRetrieve"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{parent_pk}/attachments/"
            },
            "post": {
                "operationId": "cashreceipts_attachments_create",
                "description": "Create a new attachment.\n---\nAdds a new attachment to the specified record.\nThe actual attachment file must be sent within the request body.\n**Incoming data must be encoded as `multipart/form-data`**.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name.",
                        "required": false,
                        "type": "string",
                        "maxLength": 120,
                        "minLength": 1
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "The actual file data",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentationAttachmentCreate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{parent_pk}/attachments/"
            },
            "parameters": [
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashreceipts/{parent_pk}/attachments/{id}/": {
            "get": {
                "operationId": "cashreceipts_attachments_read",
                "description": "Get a single attachment.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptAttachmentListRetrieve"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{parent_pk}/attachments/{id}/"
            },
            "patch": {
                "operationId": "cashreceipts_attachments_partial_update",
                "description": "Partially update an attachment.\n---\nYou may change the attachment title but you cannot\nreplace the actual file. **Incoming data\nmust be encoded as `multipart/form-data`.**",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name.",
                        "required": false,
                        "type": "string",
                        "maxLength": 120,
                        "minLength": 1
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1CashReceiptAttachmentListRetrieve"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{parent_pk}/attachments/{id}/"
            },
            "delete": {
                "operationId": "cashreceipts_attachments_delete",
                "description": "Delete an attachment.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{parent_pk}/attachments/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/cashreceipts/{parent_pk}/attachments/{id}/file/": {
            "get": {
                "operationId": "cashreceipts_attachments_file",
                "description": "Get the actual attachment file.\n---\nThis endpoint may return a `307` redirect response.\nTo retrieve the file you should follow the redirection.",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The file contents"
                    },
                    "307": {
                        "description": "Redirection to an external service (e.g. Microsoft Azure) to download the file"
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "cashreceipts"
                ],
                "summary": "/v1.0/cashreceipts/{parent_pk}/attachments/{id}/file/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/contacts/": {
            "get": {
                "operationId": "contacts_list",
                "description": "Get the list of contacts\n---\nAll related addresses, phone numbers and email addresses are included\nin the response.",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `first_name`, `last_name`, `company`, `profession`, `vat_number`, `email__email`, `phones__number`, `addresses__address`, `addresses__city`, `addresses__state`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Optionally filter by starting letter. Refers to the contact's \"display_name.\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ctype",
                        "in": "query",
                        "description": "Optionally filter by contact type. Either `client` or `supplier`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "profession",
                        "in": "query",
                        "description": "Optionally filter by profession.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "description": "Optionally filter by company.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `display_name`, `profession`, `vat_number`. Prepend a `-` to denote reverse ordering (e.g `-display_name`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUV1ContactListCreateRetrieveUpdate"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/"
            },
            "post": {
                "operationId": "contacts_create",
                "description": "Create a new contact.\n---\nThis endpoint will add a new contact to the specified organization.\nAlthough `first_name`, `last_name` and `company` are not required\nfields, at least one of them must be specified for the record\nto be valid. The created contact's ID is included in\nthe response.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1ContactListCreateRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1ContactListCreateRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/"
            },
            "parameters": []
        },
        "/v1.0/contacts/{id}/": {
            "get": {
                "operationId": "contacts_read",
                "description": "Get the details of a single contact.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1ContactListCreateRetrieveUpdate"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{id}/"
            },
            "put": {
                "operationId": "contacts_update",
                "description": "Update a contact.\n---\nYou must provide at least the required fields for the record to be\nsuccessfully updated. Any missing parameter will result in\npreserving the old value.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1ContactListCreateRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1ContactListCreateRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{id}/"
            },
            "patch": {
                "operationId": "contacts_partial_update",
                "description": "Partially update a contact.\n---\nThe only difference between full & partial update is that the latter\nwill treat all parameters as optional. You may omit any parameter\nin order to keep the old value.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUV1ContactPartialUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1ContactPartialUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{id}/"
            },
            "delete": {
                "operationId": "contacts_delete",
                "description": "Delete a contact.\n---\nNote that you cannot delete contacts having relations with other\nobjects (such as invoices, payments etc). Trying to delete such\nrecords will result in a 400 HTTP status -with appropriate error\nmessages-.",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/contacts/{id}/clientportal/": {
            "put": {
                "operationId": "contacts_clientportal",
                "description": "Enable / disable client portal access\n---\nUse this method to allow or revoke access to the client portal\nfor a specific email address. The contact in question\nmust be a client (i.e. `is_client` attribute must be `true`).",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/V1ClientPortalAccess"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1ClientPortalAccess"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{id}/clientportal/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/contacts/{parent_pk}/attachments/": {
            "get": {
                "operationId": "contacts_attachments_list",
                "description": "Get the list of attachments.\n---\nThe list of attachments for the specified record.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUV1ContactAttachmentListRetrieve"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{parent_pk}/attachments/"
            },
            "post": {
                "operationId": "contacts_attachments_create",
                "description": "Create a new attachment.\n---\nAdds a new attachment to the specified record.\nThe actual attachment file must be sent within the request body.\n**Incoming data must be encoded as `multipart/form-data`**.",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name.",
                        "required": false,
                        "type": "string",
                        "maxLength": 120,
                        "minLength": 1
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "The actual file data",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentationAttachmentCreate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{parent_pk}/attachments/"
            },
            "parameters": [
                {
                    "name": "parent_pk",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1.0/contacts/{parent_pk}/attachments/{id}/": {
            "get": {
                "operationId": "contacts_attachments_read",
                "description": "Get a single attachment.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUV1ContactAttachmentListRetrieve"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "contacts"
                ],
                "summary": "/v1.0/contacts/{parent_pk}/attachments/{id}/"
            },
            "patch": {
                "operationId": "contacts_attachments_partial_update",
                "description": "Partially update an attachment.\n---\nYou may change the attachment title but you cannot\nreplace the actual file. **Incoming data\nmust be encoded as `multipart/form-data`.**",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name.",
[...]
