{"swagger": "2.0", "info": {"title": "API Documentation", "description": "", "version": "native", "x-logo": {"url": "https://www.elorus.com/media/filer_public/58/0e/580e16b8-4a9f-400b-9828-065d98f8fb71/elorus-logo-api.svg", "backgroundColor": "#FFFFFF"}}, "host": "api.elorus.com", "schemes": ["https"], "paths": {"/native/contacts/": {"get": {"description": "Get the list of contacts.\n---", "parameters": [{"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"required": false, "type": "integer", "name": "page", "in": "query", "description": "A page number within the paginated result set."}, {"required": false, "type": "integer", "name": "page_size", "in": "query", "description": "Number of results to return per page. To get all the results pass the value \"all\"."}, {"required": false, "type": "string", "name": "search", "in": "query", "description": "A search term."}, {"required": false, "type": "string", "name": "search_fields", "in": "query", "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `first_name`, `last_name`, `company`, `profession`, `vat_number`, `email__email`, `phones__number`, `addresses__address`, `addresses__city`, `addresses__state`"}, {"required": false, "type": "string", "name": "letter", "in": "query", "description": "Optionally filter by starting letter. Refers to the contact's \"display_name.\""}, {"required": false, "type": "string", "name": "ctype", "in": "query", "description": "Optionally filter by contact type. Either `client` or `supplier`."}, {"required": false, "type": "string", "name": "profession", "in": "query", "description": "Optionally filter by profession."}, {"required": false, "type": "string", "name": "company", "in": "query", "description": "Optionally filter by company."}, {"required": false, "type": "string", "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `display_name`, `profession`, `vat_number`. Prepend a `-` to denote reverse ordering (e.g `-display_name`)."}], "tags": ["contacts"], "summary": "/native/contacts/", "operationId": "contacts_list", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"results": {"type": "object", "properties": {"id": {"type": "string", "description": ""}, "first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "display_name": {"type": "string", "description": "Automatically generated representation string"}, "profession": {"type": "string", "description": "Profession of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "invoice_due": {"type": "string", "description": "The contact's sum of invoices that are due"}, "organization": {"type": "string", "description": "ID of the owning organization"}, "email": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "email": {"type": "string", "description": ""}, "email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}, "client_portal_access": {"type": "boolean", "description": "Whether the contact is allowed to access the client portal or not."}, "last_login": {"type": "string", "description": "When the contact logged in to the client for the last time. ISO-formatted date and time."}}, "description": "A list of emails"}, "phones": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "number": {"type": "string", "description": ""}, "phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}}, "description": "A list of phone numbers"}, "addresses": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "address": {"type": "string", "description": ""}, "city": {"type": "string", "description": ""}, "state": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}}, "description": "A list of postal addresses"}}, "description": "The array of results."}, "next": {"type": "string", "description": "URL to the next page, if any."}, "previous": {"type": "string", "description": "URL to the previous page, if any."}, "count": {"type": "integer", "description": "Number of total results."}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "post": {"description": "Create a new contact.\n---\nThis endpoint will add a new contact to the organization.\nAlthough `first_name`, `last_name` and `company` are not required\nfields, at least one of them must be specified for the record\nto be valid. The newly created record's ID is included in\nthe response.", "parameters": [{"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"type": "object", "properties": {"first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>"}, "addresses": {"items": {"type": "object", "properties": {"city": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}, "state": {"type": "string", "description": ""}, "address": {"type": "string", "description": ""}}}, "required": false, "type": "array", "name": "addresses", "description": "A list of postal addresses"}, "email": {"items": {"type": "object", "properties": {"email": {"type": "string", "description": ""}, "email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}}}, "required": false, "type": "array", "name": "email", "description": "A list of emails"}, "phones": {"items": {"type": "object", "properties": {"phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}, "number": {"type": "string", "description": ""}}}, "required": false, "type": "array", "name": "phones", "description": "A list of phone numbers"}}}, "name": "data", "in": "body"}], "tags": ["contacts"], "summary": "/native/contacts/", "operationId": "contacts_create", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": ""}, "first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "display_name": {"type": "string", "description": "Automatically generated representation string"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>"}, "addresses": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "address": {"type": "string", "description": ""}, "city": {"type": "string", "description": ""}, "state": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}}, "description": "A list of postal addresses"}, "email": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "email": {"type": "string", "description": ""}, "email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}, "client_portal_access": {"type": "boolean", "description": "Whether the contact is allowed to access the client portal or not."}, "last_login": {"type": "string", "description": "When the contact logged in to the client for the last time. ISO-formatted date and time."}}, "description": "A list of emails"}, "phones": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "number": {"type": "string", "description": ""}, "phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}}, "description": "A list of phone numbers"}, "organization": {"type": "string", "description": "ID of the owning organization"}, "created": {"type": "string", "description": "ISO-formatted creation date & time"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}}, "/native/contacts/{id}/": {"get": {"description": "Get the details of a single contact.\n---", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}], "tags": ["contacts"], "summary": "/native/contacts/{id}/", "operationId": "contacts_read", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": ""}, "first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "display_name": {"type": "string", "description": "Automatically generated representation string"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>"}, "addresses": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "address": {"type": "string", "description": ""}, "city": {"type": "string", "description": ""}, "state": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}}, "description": "A list of postal addresses"}, "email": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "email": {"type": "string", "description": ""}, "email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}, "client_portal_access": {"type": "boolean", "description": "Whether the contact is allowed to access the client portal or not."}, "last_login": {"type": "string", "description": "When the contact logged in to the client for the last time. ISO-formatted date and time."}}, "description": "A list of emails"}, "phones": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "number": {"type": "string", "description": ""}, "phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}}, "description": "A list of phone numbers"}, "organization": {"type": "string", "description": "ID of the owning organization"}, "created": {"type": "string", "description": "ISO-formatted creation date & time"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time"}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "put": {"description": "Update a contact.\n---\nYou must provide at least the required fields for the record to be\nsuccessfully updated. Any missing parameter will\nresult in keeping the old value.", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"type": "object", "properties": {"first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>"}, "addresses": {"items": {"type": "object", "properties": {"city": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}, "state": {"type": "string", "description": ""}, "address": {"type": "string", "description": ""}, "id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}}}, "required": false, "type": "array", "name": "addresses", "description": "A list of postal addresses"}, "email": {"items": {"type": "object", "properties": {"email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}, "id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "email": {"type": "string", "description": ""}}}, "required": false, "type": "array", "name": "email", "description": "A list of emails"}, "phones": {"items": {"type": "object", "properties": {"phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}, "id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "number": {"type": "string", "description": ""}}}, "required": false, "type": "array", "name": "phones", "description": "A list of phone numbers"}}}, "name": "data", "in": "body"}], "tags": ["contacts"], "summary": "/native/contacts/{id}/", "operationId": "contacts_update", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": ""}, "first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "display_name": {"type": "string", "description": "Automatically generated representation string"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>"}, "addresses": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "address": {"type": "string", "description": ""}, "city": {"type": "string", "description": ""}, "state": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}}, "description": "A list of postal addresses"}, "email": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "email": {"type": "string", "description": ""}, "email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}, "client_portal_access": {"type": "boolean", "description": "Whether the contact is allowed to access the client portal or not."}, "last_login": {"type": "string", "description": "When the contact logged in to the client for the last time. ISO-formatted date and time."}}, "description": "A list of emails"}, "phones": {"type": "object", "properties": {"id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "number": {"type": "string", "description": ""}, "phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}}, "description": "A list of phone numbers"}, "organization": {"type": "string", "description": "ID of the owning organization"}, "created": {"type": "string", "description": "ISO-formatted creation date & time"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}, "patch": {"description": "Partially update a contact.\n---\nThe only difference between full & partial update is that the latter\nwill treat all parameters as optional. Any missing parameter will\nresult in keeping the old value.", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"type": "object", "properties": {"first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>"}, "addresses": {"items": {"type": "object", "properties": {"city": {"type": "string", "description": ""}, "zip": {"type": "string", "description": ""}, "country": {"type": "string", "description": " One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`US` | United States of America\n`CA` | Canada\n`AF` | Afghanistan\n`AL` | Albania\n`DZ` | Algeria\n`AS` | American Samoa\n`AD` | Andorra\n`AO` | Angola\n`AI` | Anguilla\n`AQ` | Antarctica\n`AG` | Antigua & Barbuda\n`AR` | Argentina\n`AM` | Armenia\n`AW` | Aruba\n`AU` | Australia\n`AT` | Austria\n`AZ` | Azerbaijan\n`BS` | Bahamas\n`BH` | Bahrain\n`BD` | Bangladesh\n`BB` | Barbados\n`BY` | Belarus\n`BE` | Belgium\n`BZ` | Belize\n`BJ` | Benin\n`BM` | Bermuda\n`BT` | Bhutan\n`BO` | Bolivia\n`BA` | Bosnia and Herzegovina\n`BW` | Botswana\n`BV` | Bouvet Island\n`BR` | Brazil\n`IO` | British Indian Ocean Territory\n`VG` | British Virgin Islands\n`BN` | Brunei Darussalam\n`BG` | Bulgaria\n`BF` | Burkina Faso\n`BI` | Burundi\n`KH` | Cambodia\n`CM` | Cameroon\n`CV` | Cape Verde\n`KY` | Cayman Islands\n`CF` | Central African Republic\n`TD` | Chad\n`CL` | Chile\n`CN` | China\n`CX` | Christmas Island\n`CC` | Cocos (Keeling) Islands\n`CO` | Colombia\n`KM` | Comoros\n`CG` | Congo\n`CK` | Cook Islands\n`CR` | Costa Rica\n`HR` | Croatia\n`CU` | Cuba\n`CW` | Curacao\n`CY` | Cyprus\n`CZ` | Czech Republic\n`CD` | Democratic Republic of the Congo\n`DK` | Denmark\n`DJ` | Djibouti\n`DM` | Dominica\n`DO` | Dominican Republic\n`TP` | East Timor\n`EC` | Ecuador\n`EG` | Egypt\n`SV` | El Salvador\n`GQ` | Equatorial Guinea\n`ER` | Eritrea\n`EE` | Estonia\n`ET` | Ethiopia\n`FK` | Falkland Islands (Malvinas)\n`FO` | Faroe Islands\n`FJ` | Fiji\n`FI` | Finland\n`FR` | France\n`GF` | French Guiana\n`PF` | French Polynesia\n`TF` | French Southern Territories\n`GA` | Gabon\n`GM` | Gambia\n`GE` | Georgia\n`DE` | Germany\n`GH` | Ghana\n`GI` | Gibraltar\n`GR` | Greece\n`GL` | Greenland\n`GD` | Grenada\n`GP` | Guadeloupe\n`GU` | Guam\n`GT` | Guatemala\n`GN` | Guinea\n`GW` | Guinea-Bissau\n`GY` | Guyana\n`HT` | Haiti\n`HM` | Heard & McDonald Islands\n`HN` | Honduras\n`HK` | Hong Kong\n`HU` | Hungary\n`IS` | Iceland\n`IM` | Isle of Man\n`IN` | India\n`ID` | Indonesia\n`IQ` | Iraq\n`IE` | Ireland\n`IR` | Islamic Republic of Iran\n`IL` | Israel\n`IT` | Italy\n`CI` | Ivory Coast\n`JM` | Jamaica\n`JP` | Japan\n`JO` | Jordan\n`KZ` | Kazakhstan\n`KE` | Kenya\n`KI` | Kiribati\n`KP` | Korea, Democratic People's Republic of\n`KR` | Korea, Republic of\n`KW` | Kuwait\n`KG` | Kyrgyzstan\n`LA` | Lao People's Democratic Republic\n`LV` | Latvia\n`LB` | Lebanon\n`LS` | Lesotho\n`LR` | Liberia\n`LY` | Libyan Arab Jamahiriya\n`LI` | Liechtenstein\n`LT` | Lithuania\n`LU` | Luxembourg\n`MO` | Macau\n`MG` | Madagascar\n`MW` | Malawi\n`MY` | Malaysia\n`MV` | Maldives\n`ML` | Mali\n`MT` | Malta\n`MH` | Marshall Islands\n`MQ` | Martinique\n`MR` | Mauritania\n`MU` | Mauritius\n`YT` | Mayotte\n`MX` | Mexico\n`FM` | Micronesia\n`MD` | Moldova, Republic of\n`MC` | Monaco\n`ME` | Montenegro\n`MN` | Mongolia\n`MS` | Monserrat\n`MA` | Morocco\n`MZ` | Mozambique\n`MM` | Myanmar\n`NA` | Namibia\n`NR` | Nauru\n`NP` | Nepal\n`NL` | Netherlands\n`AN` | Netherlands Antilles\n`NC` | New Caledonia\n`NZ` | New Zealand\n`NI` | Nicaragua\n`NE` | Niger\n`NG` | Nigeria\n`NU` | Niue\n`NF` | Norfolk Island\n`MP` | Northern Mariana Islands\n`NO` | Norway\n`OM` | Oman\n`PK` | Pakistan\n`PW` | Palau\n`PA` | Panama\n`PG` | Papua New Guinea\n`PY` | Paraguay\n`PE` | Peru\n`PH` | Philippines\n`PN` | Pitcairn\n`PL` | Poland\n`PT` | Portugal\n`PR` | Puerto Rico\n`QA` | Qatar\n`RE` | Reunion\n`MK` | Republic of Macedonia\n`RO` | Romania\n`RU` | Russian Federation\n`RW` | Rwanda\n`LC` | Saint Lucia\n`WS` | Samoa\n`SM` | San Marino\n`ST` | Sao Tome & Principe\n`SA` | Saudi Arabia\n`SN` | Senegal\n`RS` | Serbia\n`SC` | Seychelles\n`SL` | Sierra Leone\n`SG` | Singapore\n`SK` | Slovakia\n`SI` | Slovenia\n`SB` | Solomon Islands\n`SO` | Somalia\n`ZA` | South Africa\n`GS` | South Georgia and the South Sandwich Islands\n`ES` | Spain\n`LK` | Sri Lanka\n`SH` | St. Helena\n`KN` | St. Kitts and Nevis\n`PM` | St. Pierre & Miquelon\n`VC` | St. Vincent & the Grenadines\n`SD` | Sudan\n`SR` | Suriname\n`SJ` | Svalbard & Jan Mayen Islands\n`SZ` | Swaziland\n`SE` | Sweden\n`CH` | Switzerland\n`SY` | Syrian Arab Republic\n`TW` | Taiwan, Province of China\n`TJ` | Tajikistan\n`TZ` | Tanzania, United Republic of\n`TH` | Thailand\n`TG` | Togo\n`TK` | Tokelau\n`TO` | Tonga\n`TT` | Trinidad & Tobago\n`TN` | Tunisia\n`TR` | Turkey\n`TM` | Turkmenistan\n`TC` | Turks & Caicos Islands\n`TV` | Tuvalu\n`UG` | Uganda\n`UA` | Ukraine\n`AE` | United Arab Emirates\n`GB` | United Kingdom\n`UM` | United States Minor Outlying Islands\n`VI` | United States Virgin Islands\n`ZZ` | Unknown or unspecified country\n`UY` | Uruguay\n`UZ` | Uzbekistan\n`VU` | Vanuatu\n`VA` | Vatican City State (Holy See)\n`VE` | Venezuela\n`VN` | Viet Nam\n`WF` | Wallis & Futuna Islands\n`EH` | Western Sahara\n`YE` | Yemen\n`ZM` | Zambia\n`ZW` | Zimbabwe\n</details>"}, "ad_type": {"type": "string", "description": "The address type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`bill` | Billing\n`ship` | Shipping\n`other` | Other\n</details>"}, "state": {"type": "string", "description": ""}, "address": {"type": "string", "description": ""}, "id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}}}, "required": false, "type": "array", "name": "addresses", "description": "A list of postal addresses"}, "email": {"items": {"type": "object", "properties": {"email_type": {"type": "string", "description": "The email type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Personal\n`work` | Work\n`other` | Other\n</details>"}, "id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "email": {"type": "string", "description": ""}}}, "required": false, "type": "array", "name": "email", "description": "A list of emails"}, "phones": {"items": {"type": "object", "properties": {"phone_type": {"type": "string", "description": "The phone type. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`home` | Home\n`fax` | Fax\n`mobile` | Mobile\n`work` | Work\n`other` | Other\n</details>"}, "id": {"type": "string", "description": "To update an existing object, provide the corresponding ID as it was returned to you by the API. To create a new object, omit the ID entirely."}, "number": {"type": "string", "description": ""}}}, "required": false, "type": "array", "name": "phones", "description": "A list of phone numbers"}}}, "name": "data", "in": "body"}], "tags": ["contacts"], "summary": "/native/contacts/{id}/", "operationId": "contacts_partial_update", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": ""}, "first_name": {"type": "string", "description": "First name of the contact"}, "last_name": {"type": "string", "description": "Last name of the contact"}, "company": {"type": "string", "description": "The company the contact represents"}, "display_name": {"type": "string", "description": "Automatically generated representation string"}, "profession": {"type": "string", "description": "Profession of the contact"}, "notes": {"type": "string", "description": "Personal notes regarding the contact"}, "vat_number": {"type": "string", "description": "The tax ID of the contact"}, "is_client": {"type": "boolean", "description": "Whether or not the contact is a client"}, "is_supplier": {"type": "boolean", "description": "Whether or not the contact is a supplier"}, "default_language": {"type": "string", "description": "The default invoicing language. One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`en` | English\n`en-gb` | English (United Kingdom)\n`el` | Greek\n`fr` | French\n`de` | German\n`it` | Italian\n`es` | Spanish\n`bg` | Bulgarian\n</details>"}, "default_theme": {"type": "string", "description": "ID of the document theme that will be used by default when invoicing this contact"}, "default_currency_code": {"type": "string", "description": "The currency used by default when invoicing this contact One of the following or blank (empty string):\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso
[...]
