{
    "swagger": "2.0",
    "info": {
        "title": "Elorus Native API",
        "version": "1.0",
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://developer.elorus.com/img/elorus-logo-api.svg"
        }
    },
    "host": "api.elorus.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "OAuth2": {
            "description": "\nElorus supports OAuth2 for third-party applications that want to securely\naccess user data. To begin, you should contact us to \nregister your application and obtain a `client_id` and a `client_secret`. \n\nElorus currently only supports the Oauth2 *password* flow. To actually \nget a user *access token* you must send a `POST` request to the \n`https://api.elorus.com/oauth2/token/` endpoint. \nYour `client_id` and `client_secret` must be sent using the standard \nBasic Authentication scheme. In the request body, you must include the \n`grant_type`, `username` and `password` parameters:\n\n* `grant_type`: Must always be set to `password`\n* `username`: The email address or username of the user that your application \nwants to access.\n* `password`: The password of the user that your application \nwants to access.\n\nExample using `curl`:\n\n    curl https://api.elorus.com/oauth/token/  \\\n    -X POST \\\n    -H 'Accept:application/json' \\\n    -u client_id:client_secret \\\n    -d '{ \\\n    \"grant_type\": \"password\", \\\n    \"username\": \"user@example.com\", \\\n    \"password\": \"the_password\" \\\n    }'\n\nOn success, you will get a response that looks like this:\n\n    {\n        \"access_token\": \"the_access_token\", \n        \"token_type\": \"Bearer\", \n        \"expires_in\": 86400, \n        \"refresh_token\": \"the_refresh_token\", \n        \"scope\": \"\"\n    }\n\nYou may now go ahead and use the API, sending your `access_token` in the \n`Authorization` HTTP header as follows:\n\n    Authorization: Bearer <the_access_token>\n\n\nOnce the `access_token` expires, you may use the `refresh_token` to\nrequest a new one:\n\n    curl https://api.elorus.com/oauth/token/  \\\n    -X POST \\\n    -H 'Accept:application/json' \\\n    -u client_id:client_secret \\\n    -d '{ \\\n    \"grant_type\": \"refresh_token\", \\\n    \"refresh_token\": \"the_refresh_token\" \\\n    }'\n\n",
            "flow": "password",
            "in": "header",
            "name": "Authorization",
            "scopes": {
                "user": "Perform any action a specific user can perform"
            },
            "tokenUrl": "https://api.elorus.com/oauth2/token/",
            "type": "oauth2"
        }
    },
    "security": [
        {
            "OAuth2": []
        }
    ],
    "paths": {
        "/native/contacts/": {
            "get": {
                "operationId": "contacts_list",
                "description": "Get the list of contacts.\n---",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `first_name`, `last_name`, `company`, `profession`, `vat_number`, `email__email`, `phones__number`, `addresses__address`, `addresses__city`, `addresses__state`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Optionally filter by starting letter. Refers to the contact's \"display_name.\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ctype",
                        "in": "query",
                        "description": "Optionally filter by contact type. Either `client` or `supplier`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "profession",
                        "in": "query",
                        "description": "Optionally filter by profession.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "description": "Optionally filter by company.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `display_name`, `profession`, `vat_number`. Prepend a `-` to denote reverse ordering (e.g `-display_name`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeContactList"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/"
            },
            "post": {
                "operationId": "contacts_create",
                "description": "Create a new contact.\n---\nThis endpoint will add a new contact to the specified organization.\nAlthough `first_name`, `last_name` and `company` are not required\nfields, at least one of them must be specified for the record\nto be valid. The created contact's ID is included in\nthe response.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeContactCreateRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeContactCreateRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/"
            },
            "parameters": []
        },
        "/native/contacts/{id}/": {
            "get": {
                "operationId": "contacts_read",
                "description": "Get the details of a single contact.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeContactCreateRetrieveUpdate"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/{id}/"
            },
            "put": {
                "operationId": "contacts_update",
                "description": "Update a contact.\n---\nYou must provide at least the required fields for the record to be\nsuccessfully updated. Any missing parameter will result in\npreserving the old value.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeContactCreateRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeContactCreateRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/{id}/"
            },
            "patch": {
                "operationId": "contacts_partial_update",
                "description": "Partially update a contact.\n---\nThe only difference between full & partial update is that the latter\nwill treat all parameters as optional. You may omit any parameter\nin order to keep the old value.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUNativeContactPartialUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeContactPartialUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/{id}/"
            },
            "delete": {
                "operationId": "contacts_delete",
                "description": "Delete a contact.\n---\nNote that you cannot delete contacts having relations with other\nobjects (such as invoices, payments etc). Trying to delete such\nrecords will result in a 400 HTTP status -with appropriate error\nmessages-.",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/contacts/{id}/summary/": {
            "get": {
                "operationId": "contacts_summary",
                "description": "Get summaries for the contact.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeSummarySerializer"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/{id}/summary/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/contacts/{id}/unbilled-amount/": {
            "get": {
                "operationId": "contacts_unbilled_amount",
                "description": "Get the sum amount of all the client's unbilled hours\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUUnbilledAmountSerializer"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "contacts"
                ],
                "summary": "/native/contacts/{id}/unbilled-amount/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/dashboard/summary/": {
            "get": {
                "operationId": "dashboard_summary_list",
                "description": "",
                "parameters": [
                    {
                        "name": "only_unbilled",
                        "in": "query",
                        "description": "Whether to show only unbilled hours in the total hours chart. Disabled by default.Can be either `1` or `0`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period_from",
                        "in": "query",
                        "description": "Optionally filter results from a date onwards.Must be used with the `period_to` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period_to",
                        "in": "query",
                        "description": "Optionally filter results from a date backwards.Must be used with the `period_from` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. Default is 100.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeSummarySerializer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "dashboard"
                ],
                "summary": "/native/dashboard/summary/"
            },
            "parameters": []
        },
        "/native/notifications/": {
            "get": {
                "operationId": "notifications_list",
                "summary": "/native/notifications/",
                "description": "Objects are paginated in a set of 100 records per page by default.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeNotificationSerializer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ]
            },
            "parameters": []
        },
        "/native/notifications/mark-read/": {
            "put": {
                "operationId": "notifications_bulk_mark_read",
                "description": "Mark all notifications as read.\n---\nA 204 response is returned to indicate the operation\nwas successful.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeNotification"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeNotificationSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ],
                "summary": "/native/notifications/mark-read/"
            },
            "parameters": []
        },
        "/native/notifications/pushdevices/": {
            "post": {
                "operationId": "notifications_pushdevices_create",
                "description": "Register a new device that receives notifications\n---",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativePushDevice"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativePushDeviceSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ],
                "summary": "/native/notifications/pushdevices/"
            },
            "parameters": []
        },
        "/native/notifications/pushdevices/{id}/": {
            "delete": {
                "operationId": "notifications_pushdevices_delete",
                "description": "Un-register a device to make it stop receiving notifications\n---",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ],
                "summary": "/native/notifications/pushdevices/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/notifications/{id}/": {
            "get": {
                "operationId": "notifications_read",
                "description": "Get a single notification.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeNotificationSerializer"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ],
                "summary": "/native/notifications/{id}/"
            },
            "delete": {
                "operationId": "notifications_delete",
                "description": "Delete a single notification.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ],
                "summary": "/native/notifications/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/notifications/{id}/mark-read/": {
            "put": {
                "operationId": "notifications_mark_read",
                "description": "Mark a notification as read.\n---\nA 400 response status will be returned if the notification\nis already marked.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeNotification"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeNotificationSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "notifications"
                ],
                "summary": "/native/notifications/{id}/mark-read/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/organization/": {
            "post": {
                "operationId": "organization_create",
                "description": "Create organization.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeOrganizationCreate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create user",
                        "schema": {
                            "$ref": "#/definitions/NativeOrganization"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "organization"
                ],
                "summary": "/native/organization/"
            },
            "parameters": []
        },
        "/native/organization/settings/": {
            "get": {
                "operationId": "organization_settings_read",
                "description": "Get the application settings.\n---",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeOrganizationAppSettingsSerializer"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "organization"
                ],
                "summary": "/native/organization/settings/"
            },
            "put": {
                "operationId": "organization_settings_update",
                "description": "Update the application settings.\n---",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeOrganizationAppSettings"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeOrganizationAppSettingsSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "organization"
                ],
                "summary": "/native/organization/settings/"
            },
            "patch": {
                "operationId": "organization_settings_partial_update",
                "description": "Partially update the application settings.\n---",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUNativeOrganizationAppSettingsSerializer"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeOrganizationAppSettingsSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "organization"
                ],
                "summary": "/native/organization/settings/"
            },
            "parameters": []
        },
        "/native/projects/": {
            "get": {
                "operationId": "projects_list",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `name`, `description`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "client",
                        "in": "query",
                        "description": "Optionally filter by client ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "billing_method",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter projects by name.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Can be either `1` or `0`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `name`, `client__display_name`, `created`, `modified`. Prepend a `-` to denote reverse ordering (e.g `-name`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeProjectListRetrieve"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "projects"
                ],
                "summary": "/native/projects/"
            },
            "post": {
                "operationId": "projects_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeProjectCreateUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeProjectCreateUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "projects"
                ],
                "summary": "/native/projects/"
            },
            "parameters": []
        },
        "/native/projects/{id}/": {
            "get": {
                "operationId": "projects_read",
                "description": "",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeProjectListRetrieve"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "projects"
                ],
                "summary": "/native/projects/{id}/"
            },
            "put": {
                "operationId": "projects_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeProjectCreateUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeProjectCreateUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "projects"
                ],
                "summary": "/native/projects/{id}/"
            },
            "patch": {
                "operationId": "projects_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUNativeProjectCreateUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeProjectCreateUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "projects"
                ],
                "summary": "/native/projects/{id}/"
            },
            "delete": {
                "operationId": "projects_delete",
                "description": "",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "projects"
                ],
                "summary": "/native/projects/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/tasks/": {
            "get": {
                "operationId": "tasks_list",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `name`, `description`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `name`, `hourly_rate`, `created`, `modified`. Prepend a `-` to denote reverse ordering (e.g `-name`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter tasks by name.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUPrivateTaskSerializer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "tasks"
                ],
                "summary": "/native/tasks/"
            },
            "post": {
                "operationId": "tasks_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PrivateTask"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUPrivateTaskSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "tasks"
                ],
                "summary": "/native/tasks/"
            },
            "parameters": []
        },
        "/native/tasks/{id}/": {
            "get": {
                "operationId": "tasks_read",
                "description": "",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUPrivateTaskSerializer"
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "tasks"
                ],
                "summary": "/native/tasks/{id}/"
            },
            "put": {
                "operationId": "tasks_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PrivateTask"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUPrivateTaskSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "tasks"
                ],
                "summary": "/native/tasks/{id}/"
            },
            "patch": {
                "operationId": "tasks_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PUPrivateTaskSerializer"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUPrivateTaskSerializer"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "tasks"
                ],
                "summary": "/native/tasks/{id}/"
            },
            "delete": {
                "operationId": "tasks_delete",
                "description": "",
                "parameters": [
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "tasks"
                ],
                "summary": "/native/tasks/{id}/"
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/native/timeentries/": {
            "get": {
                "operationId": "timeentries_list",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `task__name`, `project__name`, `description`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "task",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "billing_status",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "client",
                        "in": "query",
                        "description": "Optionally filter by client ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `start_datetime`, `project__name`, `task__name`. Prepend a `-` to denote reverse ordering (e.g `-start_datetime`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeTimeEntryList"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "timeentries"
                ],
                "summary": "/native/timeentries/"
            },
            "post": {
                "operationId": "timeentries_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NativeTimeEntryCreateRetrieveUpdate"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUNativeTimeEntryCreateRetrieveUpdate"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "timeentries"
                ],
                "summary": "/native/timeentries/"
            },
            "parameters": []
        },
        "/native/timeentries/descriptions/": {
            "get": {
                "operationId": "timeentries_descriptions",
                "description": "Get the timeentries' descriptions texts for the user's organization\n---",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Optionally filter the descriptions by a search term",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeTimeEntryDescriptionsSerializer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "timeentries"
                ],
                "summary": "/native/timeentries/descriptions/"
            },
            "parameters": []
        },
        "/native/timeentries/ongoing/": {
            "get": {
                "operationId": "timeentries_ongoing",
                "description": "Get the ongoing time entry - if any",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_fields",
                        "in": "query",
                        "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `task__name`, `project__name`, `description`.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "task",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "billing_status",
                        "in": "query",
                        "description": "Optional filter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "client",
                        "in": "query",
                        "description": "Optionally filter by client ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `start_datetime`, `project__name`, `task__name`. Prepend a `-` to denote reverse ordering (e.g `-start_datetime`).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page. To get all the results pass the value \"all\".",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "example": "",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PUNativeTimeEntryCreateRetrieveUpdate"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "timeentries"
                ],
                "summary": "/native/timeentries/ongoing/"
            },
            "parameters": []
        },
        "/native/timeentries/start/": {
            "post": {
                "operationId": "timeentries_start",
                "description": "Start a new time entry.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TimeEntryStart"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUTimeEntryStart"
                        }
                    },
                    "400": {
                        "description": "Bad request. The exact error message is sent in the response body."
                    },
                    "403": {
                        "description": "Permission denied. User was not allowed to perform the requested action."
                    }
                },
                "tags": [
                    "timeentries"
                ],
                "summary": "/native/timeentries/start/"
            },
            "parameters": []
        },
        "/native/timeentries/stop/": {
            "post": {
                "operationId": "timeentries_stop",
                "description": "Stop the ongoing time entry (if any).\nImplicitly examine the add permission so that\nthe user can always stop a timeentry once he can start it.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TimeEntryStop"
                        }
                    },
                    {
                        "name": "X-Elorus-Organization",
                        "in": "header",
                        "description": "The ID of the organization you want to operate on.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Elorus-Demo",
                        "in": "header",
                        "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data. Note that the header's value is not important.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PUTimeEntryStop"
                        }
                    },
                    "400": {
[...]
