{"swagger": "2.0", "info": {"title": "API Documentation", "description": "\nThe Elorus developer API enables external applications access the [Elorus \nplatform](https://www.elorus.com) and update organization data \nprogrammatically. For example, you may use the API to:\n\n- Update your data without interacting with the Elorus user interface\n- Connect your e-shop / website, automate the invoicing process and \nsynchronize data\n- Use Elorus as your billing system\n\nThis portal provides documentation for developers to access and \nuse the Elorus API. \n", "version": "v1.0", "x-logo": {"url": "../img/elorus-logo-api.svg", "backgroundColor": "#FFFFFF"}}, "host": "api.elorus.com", "schemes": ["https"], "paths": {"/v1.0/cashpayments/": {"get": {"description": "Get the list of payments sent.\n---", "parameters": [{"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"required": false, "type": "integer", "name": "page", "in": "query", "description": "A page number within the paginated result set."}, {"required": false, "type": "integer", "name": "page_size", "in": "query", "description": "Number of results to return per page. Default is 100."}, {"required": false, "type": "string", "name": "search", "in": "query", "description": "A search term."}, {"required": false, "type": "string", "name": "search_fields", "in": "query", "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `title`, `contact__display_name`, `date`."}, {"required": false, "type": "string", "name": "contact", "in": "query", "description": "Optionally filter by contact ID."}, {"required": false, "type": "string", "name": "currency_code", "in": "query", "description": "Optionally filter by currency code."}, {"required": false, "type": "string", "name": "transaction_type", "in": "query", "description": "Optionally filter by transaction type. Either `dp`, `ip` or `cnp`"}, {"required": false, "type": "string", "name": "purchase", "in": "query", "description": "Optionally filter by bill ID."}, {"required": false, "type": "string", "name": "creditnote", "in": "query", "description": "Optionally filter by credit note ID."}, {"required": false, "type": "string", "name": "cheque", "in": "query", "description": "Optionally filter by cheque ID."}, {"required": false, "type": "string", "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `date`, `amount`, `contact__display_name`. Prepend a `-` to denote reverse ordering (e.g `-date`)."}, {"required": false, "type": "string", "name": "period_from", "in": "query", "description": "Optionally filter results from a date onwards.Must be used with the `period_to` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`."}, {"required": false, "type": "string", "name": "period_to", "in": "query", "description": "Optionally filter results from a date backwards.Must be used with the `period_from` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/", "operationId": "cashpayments_list", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"results": {"items": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "purchase": {"type": "string", "description": "A comma-separated list with the IDs of the associated purchases.", "example": "8800000040088865"}, "creditnote": {"type": "string", "description": "A comma-separated list with the IDs of the associated credit notes.", "example": "null"}, "cheque": {"type": "string", "description": "ID of the associated outgoing cheque (if any) or `null`.", "example": "null"}, "organization": {"type": "integer", "description": "ID of the owning organization.", "example": "1000000243015421"}, "created": {"type": "string", "description": "ISO-formatted creation date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}}}, "type": "array", "description": "The array of results."}, "next": {"type": "string", "description": "URL to the next page, if any.", "example": ""}, "previous": {"type": "string", "description": "URL to the previous page, if any.", "example": ""}, "count": {"type": "integer", "description": "Number of total results.", "example": 10}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "post": {"description": "Create a new payment sent.\n---\nWhen adding a new bill or credit note payment that\nexceeds the bill due amount, the remaining amount is stored\nas \"amount in excess\" and can be used in future transactions.\n\n**IMPORTANT NOTE:**\nYou cannot associate a single transaction with multiple\nbills or credit notes using this version of the API.\nFor more information, see the\n[payments sent](#tag/cashpayments) section.", "parameters": [{"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"required": ["amount", "contact"], "type": "object", "properties": {"transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "purchase": {"type": "string", "description": "ID of the associated bill", "example": "8800000040088865"}, "creditnote": {"type": "string", "description": "ID of the associated credit note", "example": "null"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "required": false, "type": "array", "name": "trackingcategories", "description": "An optional list of tracking categories to classify this record."}}}, "name": "data", "in": "body"}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/", "operationId": "cashpayments_create", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "purchase": {"type": "string", "description": "ID of the associated bill", "example": "8800000040088865"}, "creditnote": {"type": "string", "description": "ID of the associated credit note", "example": "null"}, "cheque": {"type": "string", "description": "ID of the associated outgoing cheque (if any) or `null`.", "example": "null"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "type": "array", "description": "An optional list of tracking categories to classify this record."}, "organization": {"type": "integer", "description": "ID of the owning organization.", "example": "1000000243015421"}, "created": {"type": "string", "description": "ISO-formatted creation date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}}, "/v1.0/cashpayments/{id}/": {"get": {"description": "Get a single payment sent.\n---", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{id}/", "operationId": "cashpayments_read", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "purchase": {"type": "string", "description": "A comma-separated list with the IDs of the associated purchases.", "example": "8800000040088865"}, "creditnote": {"type": "string", "description": "A comma-separated list with the IDs of the associated credit notes.", "example": "null"}, "cheque": {"type": "string", "description": "ID of the associated outgoing cheque (if any) or `null`.", "example": "null"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "type": "array", "description": "An optional list of tracking categories to classify this record."}, "organization": {"type": "integer", "description": "ID of the owning organization.", "example": "1000000243015421"}, "created": {"type": "string", "description": "ISO-formatted creation date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "put": {"description": "Update a payment sent.\n---\nNote that you cannot update the bill, credit note or\ncheque of the payment. For example, you cannot assign\na bill to a payment after it was created.\n\nWhen updating bill, credit note or cheque payments,\nyou will not be able to change the amount, nor the contact.\nIn addition, the transaction type cannot be modified.", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"required": ["amount", "contact"], "type": "object", "properties": {"transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "required": false, "type": "array", "name": "trackingcategories", "description": "An optional list of tracking categories to classify this record."}}}, "name": "data", "in": "body"}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{id}/", "operationId": "cashpayments_update", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "purchase": {"type": "string", "description": "A comma-separated list with the IDs of the associated purchases.", "example": "8800000040088865"}, "creditnote": {"type": "string", "description": "A comma-separated list with the IDs of the associated credit notes.", "example": "null"}, "cheque": {"type": "string", "description": "ID of the associated outgoing cheque (if any) or `null`.", "example": "null"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "type": "array", "description": "An optional list of tracking categories to classify this record."}, "organization": {"type": "integer", "description": "ID of the owning organization.", "example": "1000000243015421"}, "created": {"type": "string", "description": "ISO-formatted creation date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}, "patch": {"description": "Partially update a payment sent.\n---\nThe only difference between full & partial update is that the latter\nwill treat all parameters as optional. You may omit any parameter\nin order to keep the old value.", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"type": "object", "properties": {"transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "required": false, "type": "array", "name": "trackingcategories", "description": "An optional list of tracking categories to classify this record."}}}, "name": "data", "in": "body"}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{id}/", "operationId": "cashpayments_partial_update", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other payment\n`ip` | Supplier payment\n`cnp` | Client refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "A supplier invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "purchase": {"type": "string", "description": "A comma-separated list with the IDs of the associated purchases.", "example": "8800000040088865"}, "creditnote": {"type": "string", "description": "A comma-separated list with the IDs of the associated credit notes.", "example": "null"}, "cheque": {"type": "string", "description": "ID of the associated outgoing cheque (if any) or `null`.", "example": "null"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "type": "array", "description": "An optional list of tracking categories to classify this record."}, "organization": {"type": "integer", "description": "ID of the owning organization.", "example": "1000000243015421"}, "created": {"type": "string", "description": "ISO-formatted creation date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}, "delete": {"description": "Delete a payment sent.\n---\nDeleting a bill or credit note payment may result\nin changing the corresponding document's status. For example, if the\nbill was marked as 'paid' it will now revert to 'issued' or\n'partially paid' (depending on whether other payments exist as well).", "parameters": [{"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{id}/", "operationId": "cashpayments_delete", "responses": {"200": {"description": "Success"}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}}, "/v1.0/cashpayments/{parent_pk}/attachments/": {"get": {"description": "Get the list of attachments.\n---\nThe list of attachments for the specified record.", "parameters": [{"required": true, "type": "string", "name": "parent_pk", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"required": false, "type": "integer", "name": "page", "in": "query", "description": "A page number within the paginated result set."}, {"required": false, "type": "integer", "name": "page_size", "in": "query", "description": "Number of results to return per page. Default is 100."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{parent_pk}/attachments/", "operationId": "cashpayments_attachments_list", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"results": {"items": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "title": {"type": "string", "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name."}, "file_url": {"type": "string", "description": "URL to access the attachment file", "example": "//url-to-access-the-file/"}}}, "type": "array", "description": "The array of results."}, "next": {"type": "string", "description": "URL to the next page, if any.", "example": ""}, "previous": {"type": "string", "description": "URL to the previous page, if any.", "example": ""}, "count": {"type": "integer", "description": "Number of total results.", "example": 10}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "post": {"description": "Create a new attachment.\n---\nAdds a new attachment to the specified record.\nThe actual attachment file must be sent within the request body.\n**Incoming data must be encoded as `multipart/form-data`**.", "parameters": [{"required": true, "type": "string", "name": "parent_pk", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"required": false, "type": "string", "name": "title", "in": "formData", "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name."}, {"required": true, "type": "string", "name": "file", "in": "formData", "description": "The actual file data"}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{parent_pk}/attachments/", "operationId": "cashpayments_attachments_create", "consumes": ["multipart/form-data"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "title": {"type": "string", "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name."}, "file_url": {"type": "string", "description": "URL to access the attachment file", "example": "//url-to-access-the-file/"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}}, "/v1.0/cashpayments/{parent_pk}/attachments/{id}/": {"get": {"description": "Get a single attachment.\n---", "parameters": [{"required": true, "type": "string", "name": "parent_pk", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/", "operationId": "cashpayments_attachments_read", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "title": {"type": "string", "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name."}, "file_url": {"type": "string", "description": "URL to access the attachment file", "example": "//url-to-access-the-file/"}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "patch": {"description": "Partially update an attachment.\n---\nYou may change the attachment title but you cannot\nreplace the actual file. **Incoming data\nmust be encoded as `multipart/form-data`.**", "parameters": [{"required": true, "type": "string", "name": "parent_pk", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"required": false, "type": "string", "name": "title", "in": "formData", "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/", "operationId": "cashpayments_attachments_partial_update", "consumes": ["multipart/form-data"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "title": {"type": "string", "description": "Internal title, to help you easily identify the attachment. This is not the same as the actual file name."}, "file_url": {"type": "string", "description": "URL to access the attachment file", "example": "//url-to-access-the-file/"}}}}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}, "delete": {"description": "Delete an attachment.\n---", "parameters": [{"required": true, "type": "string", "name": "parent_pk", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/", "operationId": "cashpayments_attachments_delete", "responses": {"200": {"description": "Success"}, "400": {"description": "Bad request. The exact error message is sent in the response body."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}}}}, "/v1.0/cashpayments/{parent_pk}/attachments/{id}/file/": {"get": {"description": "Get the actual attachment file.\n---\nThis endpoint may return a `307` redirect response.\nTo retrieve the file you should follow the redirection.", "parameters": [{"required": true, "type": "string", "name": "parent_pk", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "id", "in": "path", "description": ""}, {"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}], "tags": ["cashpayments"], "summary": "/v1.0/cashpayments/{parent_pk}/attachments/{id}/file/", "operationId": "cashpayments_attachments_file", "responses": {"200": {"description": "Success"}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}}, "/v1.0/cashreceipts/": {"get": {"description": "Get the list of payments received.\n---", "parameters": [{"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"required": false, "type": "integer", "name": "page", "in": "query", "description": "A page number within the paginated result set."}, {"required": false, "type": "integer", "name": "page_size", "in": "query", "description": "Number of results to return per page. Default is 100."}, {"required": false, "type": "string", "name": "search", "in": "query", "description": "A search term."}, {"required": false, "type": "string", "name": "search_fields", "in": "query", "description": "The fields on which search will be performed once a search term is provided. A comma-separated list. If not provided, the search operation will span across all fields. The available fields are `title`, `contact__display_name`, `date`."}, {"required": false, "type": "string", "name": "contact", "in": "query", "description": "Optionally filter by contact ID."}, {"required": false, "type": "string", "name": "currency_code", "in": "query", "description": "Optionally filter by currency code."}, {"required": false, "type": "string", "name": "transaction_type", "in": "query", "description": "Optionally filter by transaction type. Either `dp`, `ip` or `cnp`"}, {"required": false, "type": "string", "name": "invoice", "in": "query", "description": "Optionally filter by invoice ID."}, {"required": false, "type": "string", "name": "purchasecreditnote", "in": "query", "description": "Optionally filter by supplier credit ID."}, {"required": false, "type": "string", "name": "cheque", "in": "query", "description": "Optionally filter by cheque ID."}, {"required": false, "type": "string", "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.A comma-separated list, if more than one is provided. The available fields are `date`, `amount`, `contact__display_name`. Prepend a `-` to denote reverse ordering (e.g `-date`)."}, {"required": false, "type": "string", "name": "period_from", "in": "query", "description": "Optionally filter results from a date onwards.Must be used with the `period_to` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`."}, {"required": false, "type": "string", "name": "period_to", "in": "query", "description": "Optionally filter results from a date backwards.Must be used with the `period_from` parameter, otherwise it won't have any effect. Date must be in the form of `YYYY-mm-dd`."}], "tags": ["cashreceipts"], "summary": "/v1.0/cashreceipts/", "operationId": "cashreceipts_list", "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"results": {"items": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other income\n`ip` | Client payment\n`cnp` | Supplier refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "An invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "invoice": {"type": "string", "description": "A comma-separated list with the IDs of the associated invoices.", "example": "8800000040088865"}, "purchasecreditnote": {"type": "string", "description": "A comma-separated list with the IDs of the associated supplier credits.", "example": "null"}, "cheque": {"type": "string", "description": "ID of the associated incoming cheque (if any) or `null`.", "example": "null"}, "recurring": {"type": "string", "description": "ID of the recurring payment received that created this record (if any) or `null`.", "example": "9900000040000900"}, "payment_gateway": {"type": "string", "description": "ID of the payment gateway that was used to process the payment. Applies only to actual client payments made via Elorus.", "example": "null"}, "organization": {"type": "integer", "description": "ID of the owning organization.", "example": "1000000243015421"}, "created": {"type": "string", "description": "ISO-formatted creation date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}, "modified": {"type": "string", "description": "ISO-formatted last modification date & time. Timezone information is included.", "example": "2019-01-28T13:48:56.504916Z"}}}, "type": "array", "description": "The array of results."}, "next": {"type": "string", "description": "URL to the next page, if any.", "example": ""}, "previous": {"type": "string", "description": "URL to the previous page, if any.", "example": ""}, "count": {"type": "integer", "description": "Number of total results.", "example": 10}}}}, "401": {"description": "Unauthorized request. User credentials were invalid or missing."}, "403": {"description": "Permission denied. User was not allowed to perform the requested action."}}}, "post": {"description": "Create a new payment received.\n---\nWhen adding a new invoice or supplier credit payment that\nexceeds the invoice due amount, the remaining amount is stored\nas \"amount in excess\" and can be used in future transactions.\n\n**IMPORTANT NOTE:**\nYou cannot associate a single transaction with multiple\ninvoices or supplier credits using this version of the API.\nFor more information, see the\n[payments received](#tag/cashreceipts) section.", "parameters": [{"required": true, "type": "string", "name": "X-Elorus-Organization", "in": "header", "description": "The ID of the organization you want to operate on."}, {"required": false, "type": "string", "name": "X-Elorus-Demo", "in": "header", "description": "Just send this header if you want to ensure you operate on demo organizations only. Useful while you're developing your application, to avoid accidents on production data."}, {"schema": {"required": ["amount", "contact"], "type": "object", "properties": {"transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other income\n`ip` | Client payment\n`cnp` | Supplier refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "An invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR` | Saudi Riyal (SAR)\n`RSD` | Serbian Dinar (RSD)\n`SCR` | Seychelles Rupee (SCR)\n`SGD` | Singapore Dollar (SGD)\n`SBD` | Solomon Islands Dollar (SBD)\n`KGS` | Som (KGS)\n`SOS` | Somali Shilling (SOS)\n`TJS` | Somoni (TJS)\n`LKR` | Sri Lanka Rupee (LKR)\n`SDG` | Sudanese Pound (SDG)\n`SRD` | Surinam Dollar (SRD)\n`SEK` | Swedish Krona (SEK)\n`CHF` | Swiss Franc (CHF)\n`SYP` | Syrian Pound (SYP)\n`BDT` | Taka (BDT)\n`WST` | Tala (WST)\n`TZS` | Tanzanian Shilling (TZS)\n`KZT` | Tenge (KZT)\n`TTD` | Trinidad and Tobago Dollar (TTD)\n`MNT` | Tugrik (MNT)\n`TND` | Tunisian Dinar (TND)\n`TMT` | Turkmenistan New Manat (TMT)\n`AED` | UAE Dirham (AED)\n`UGX` | Uganda Shilling (UGX)\n`COU` | Unidad de Valor Real (COU)\n`CLF` | Unidades de formento (CLF)\n`UYI` | Uruguay Peso en Unidades Indexadas (UYI)\n`UZS` | Uzbekistan Sum (UZS)\n`VUV` | Vatu (VUV)\n`CHE` | WIR Euro (CHE)\n`CHW` | WIR Franc (CHW)\n`KRW` | Won (KRW)\n`YER` | Yemeni Rial (YER)\n`JPY` | Yen (JPY)\n`CNY` | Yuan Renminbi (CNY)\n`ZMW` | Zambian Kwacha (ZMW)\n`ZWL` | Zimbabwe Dollar (ZWL)\n`PLN` | Zloty (PLN)\n`BTC` | Bitcoin (BTC)\n</details>", "example": "USD"}, "date": {"type": "string", "description": " Date is in the form of `YYYY-mm-dd`.", "example": "2018-10-25"}, "contact": {"type": "string", "description": "ID of the associated contact.", "example": "3300000040000100"}, "invoice": {"type": "string", "description": "ID of the associated invoice", "example": "8800000040088865"}, "purchasecreditnote": {"type": "string", "description": "ID of the associated supplier credit", "example": "null"}, "trackingcategories": {"items": {"type": "object", "properties": {"trackingcategory": {"type": "string", "description": "ID of the associated tracking category.", "example": "7000230020000553"}, "option": {"type": "string", "description": "The selected option of the tracking category.", "example": "My custom tag"}}}, "required": false, "type": "array", "name": "trackingcategories", "description": "An optional list of tracking categories to classify this record."}}}, "name": "data", "in": "body"}], "tags": ["cashreceipts"], "summary": "/v1.0/cashreceipts/", "operationId": "cashreceipts_create", "consumes": ["application/json"], "responses": {"200": {"description": "Success", "schema": {"type": "object", "properties": {"id": {"type": "string", "description": "", "example": "1050000300010040"}, "transaction_type": {"type": "string", "description": "The transaction type. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`dp` | Other income\n`ip` | Client payment\n`cnp` | Supplier refund\n</details>", "example": "ip"}, "title": {"type": "string", "description": "Short description / reason.", "example": "An invoice payment"}, "amount": {"type": "string", "description": " Decimal rendered as string, with the `.` character used as a floating point. Up to 2 decimal places.", "example": "100.00"}, "exchange_rate": {"type": "string", "description": "Comes into effect when the currency of the transaction is different than the base currency. Will always equal 1.00 for the base currency. Decimal rendered as string, with the `.` character used as a floating point. Up to 6 decimal places.", "example": "1.000000"}, "currency_code": {"type": "string", "description": "If not specified, this is set to the organization's base currency code. One of the following:\n<details>\n<summary>List of values</summary>\nValue | Description\n--- | ---\n`EUR` | Euro (EUR)\n`GBP` | GB Pound (GBP)\n`USD` | US Dollar (USD)\n`AFN` | Afghani (AFN)\n`DZD` | Algerian Dinar (DZD)\n`ARS` | Argentine Peso (ARS)\n`AMD` | Armenian Dram (AMD)\n`AWG` | Aruban Florin (AWG)\n`AUD` | Australian Dollar (AUD)\n`AZN` | Azerbaijanian Manat (AZN)\n`BSD` | Bahamian Dollar (BSD)\n`BHD` | Bahraini Dinar (BHD)\n`THB` | Baht (THB)\n`PAB` | Balboa (PAB)\n`BBD` | Barbados Dollar (BBD)\n`BYR` | Belarussian Ruble (BYR)\n`BZD` | Belize Dollar (BZD)\n`BMD` | Bermudian Dollar(Bermuda Dollar) (BMD)\n`VEF` | Bolivar Fuerte (VEF)\n`BOB` | Boliviano (BOB)\n`BRL` | Brazilian Real (BRL)\n`BND` | Brunei Dollar (BND)\n`BGN` | Bulgarian Lev (BGN)\n`BIF` | Burundi Franc (BIF)\n`CAD` | Canadian Dollar (CAD)\n`CVE` | Cape Verde Escudo (CVE)\n`KYD` | Cayman Islands Dollar (KYD)\n`GHS` | Cedi (GHS)\n`XOF` | CFA Franc BCEAO (XOF)\n`XAF` | CFA Franc BEAC (XAF)\n`XPF` | CFP Franc (XPF)\n`CLP` | Chilean Peso (CLP)\n`COP` | Colombian Peso (COP)\n`KMF` | Comoro Franc (KMF)\n`BAM` | Convertible Marks (BAM)\n`NIO` | Cordoba Oro (NIO)\n`CRC` | Costa Rican Colon (CRC)\n`HRK` | Croatian Kuna (HRK)\n`CUC` | Cuba Convertible Peso (CUC)\n`CUP` | Cuban Peso (CUP)\n`CZK` | Czech Koruna (CZK)\n`GMD` | Dalasi (GMD)\n`DKK` | Danish Krone (DKK)\n`MKD` | Denar (MKD)\n`DJF` | Djibouti Franc (DJF)\n`STD` | Dobra (STD)\n`DOP` | Dominican Peso (DOP)\n`VND` | Dong (VND)\n`XCD` | East Caribbean Dollar (XCD)\n`EGP` | Egyptian Pound (EGP)\n`ETB` | Ethiopian Birr (ETB)\n`FKP` | Falkland Islands Pound (FKP)\n`FJD` | Fiji Dollar (FJD)\n`HUF` | Forint (HUF)\n`CDF` | Franc Congolais (CDF)\n`GIP` | Gibraltar Pound (GIP)\n`HTG` | Gourde (HTG)\n`PYG` | Guarani (PYG)\n`GNF` | Guinea Franc (GNF)\n`GYD` | Guyana Dollar (GYD)\n`HKD` | Hong Kong Dollar (HKD)\n`UAH` | Hryvnia (UAH)\n`ISK` | Iceland Krona (ISK)\n`INR` | Indian Rupee (INR)\n`IRR` | Iranian Rial (IRR)\n`IQD` | Iraqi Dinar (IQD)\n`JMD` | Jamaican Dollar (JMD)\n`JOD` | Jordanian Dinar (JOD)\n`KES` | Kenyan Shilling (KES)\n`PGK` | Kina (PGK)\n`LAK` | Kip (LAK)\n`KWD` | Kuwaiti Dinar (KWD)\n`MWK` | Kwacha (MWK)\n`AOA` | Kwanza (AOA)\n`MMK` | Kyat (MMK)\n`GEL` | Lari (GEL)\n`LBP` | Lebanese Pound (LBP)\n`ALL` | Lek (ALL)\n`HNL` | Lempira (HNL)\n`SLL` | Leone (SLL)\n`LRD` | Liberian Dollar (LRD)\n`LYD` | Libyan Dinar (LYD)\n`SZL` | Lilangeni (SZL)\n`LSL` | Loti (LSL)\n`MGA` | Malagascy Ariary (MGA)\n`MYR` | Malaysian Ringgit (MYR)\n`MUR` | Mauritius Rupee (MUR)\n`MXN` | Mexican Peso (MXN)\n`MXV` | Mexican Unidad de Inversion(UID) (MXV)\n`MDL` | Moldovan Leu (MDL)\n`MAD` | Moroccan Dirham (MAD)\n`MZN` | Mozambique Metical (MZN)\n`BOV` | Mvdol (BOV)\n`NGN` | Naira (NGN)\n`ERN` | Nakfa (ERN)\n`NAD` | Namibian Dollar (NAD)\n`NPR` | Nepalese Rupee (NPR)\n`ANG` | Netherlands Antillian Guilder (ANG)\n`ILS` | New Israeli Sheqel (ILS)\n`RON` | Romanian Leu (RON)\n`TWD` | New Taiwan Dollar (TWD)\n`TRY` | Turkish Lira (TRY)\n`NZD` | New Zealand Dollar (NZD)\n`BTN` | Ngultrum (BTN)\n`KPW` | North Korean Won (KPW)\n`NOK` | Norwegian Krone (NOK)\n`PEN` | Nuevo Sol (PEN)\n`MRO` | Ouguiya (MRO)\n`TOP` | Paanga (TOP)\n`PKR` | Pakistan Rupee (PKR)\n`MOP` | Pataca (MOP)\n`UYU` | Peso Uruguayo (UYU)\n`PHP` | Philippine Peso (PHP)\n`BWP` | Pula (BWP)\n`QAR` | Qatari Rial (QAR)\n`GTQ` | Quetzal (GTQ)\n`ZAR` | Rand (ZAR)\n`OMR` | Rial Omani (OMR)\n`KHR` | Riel (KHR)\n`MVR` | Rufiyaa (MVR)\n`IDR` | Rupiah (IDR)\n`RUB` | Russian Ruble (RUB)\n`RWF` | Rwanda Franc (RWF)\n`XDR` | SDR (XDR)\n`SHP` | Saint Helena Pound (SHP)\n`SAR`
[...]
