.curl-title {
    background: #1c9f98;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    padding: 10px;
}

.curl-block {
    background-color: #f9f2f4;
    padding: 10px;
    color: #263238;
}

.dark-page-break {
    height: 1em;
    background-color: #263238;
    margin: 0 !important;
}

.main-list {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.main-list li {
    background: white;
    display: block;
}

.main-list li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 4px 8px 4px 8px;
}

.main-list li a:hover {
    color: white !important;
    background: #1e4682 !important;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: #f9f2f4;
    width: 60px;
    height: 60px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: 3px solid rgb(170 60 100);;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: rgb(192 111 140);
}

.selected-example {
    color: #FFFFFF !important;
    background-color: #1e4682;
}

.selected-example::before {
    content: "> ";
}

html {
    background: white !important;
    scroll-padding-top: 60px;
}

.menu-header {
    margin-left: 8px;
    font-weight: bold;
    border-bottom: 2px solid rgb(17, 23, 26);
    font-size: 1rem;
    display: inline-block;
}

.body {
    max-width: 100%;
}

.main-page {
    margin: 0 !important;
    padding-top: 76px !important;
}
#my-menu {
    padding: 0;
}

#anchors {
    padding: 0;
}