html {
    background: white !important;
    scroll-padding-top: 86px;
}

a {
    color: rgb(104, 104, 207);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 10, 60, 0.2);
    display: block;
    margin: 2rem;
}

.menu-header {
    margin-left: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(17, 23, 26);
    font-size: 1rem;
    display: inline-block;
}

.main-list {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    list-style-type: none;
}

li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 0.5rem 6px 0.5rem;
}

.main-list li a:hover {
    text-decoration: underline;
}

.main-list .selected-example {
    color: #FFFFFF;
    background-color: rgb(104, 104, 207);
}

.curl-title {
    background: #21b7af;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    padding: 2px 10px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 10, 60, 0.2);
}

.curl-block {
    background-color: #f9f2f4;
    padding: 5px 5px 1px 5px;
    color: #263238;
    overflow: scroll;
    max-height: 150px;
}

#myBtn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: #f9f2f4;
    width: 60px;
    height: 60px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: 3px solid rgb(170 60 100);;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0 10 60 / 20%);
}

#myBtn:hover {
    background-color: rgb(236, 205, 215);
}

#myBtn img {
    margin: 0;
}

#list {
    padding-top: 96px;
    max-width: inherit;
}

.row.main-page {
    margin: 0;
    padding-top: 15px;
}

#steps {
    display: none;
}

@media (min-width: 48em) {
    .main-page {
        padding-top: 76px !important;
    }

    #list {
        padding-top: 0;
        position: fixed;
        top: 76px;
        bottom: 0;
        left: 0;
        border-right: 1px solid #dedede;
        max-height: 100%;
        overflow: scroll;
    }
}


@media (min-width: 62em) {
    #steps {
        display: block;
        position: absolute;
        top: 76px;
        right: 0;
        width: 25%;
        overflow: auto;
        border-left: 1px solid #dedede;
    }
}


.warningBox {
  background-color: #fef9e8;
  color: #494842;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  position: relative;
  font-weight: bold;
}
