html {
    background: white !important;
    scroll-padding-top: 86px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.menu-header {
    margin-left: 18px;
    font-weight: bold;
    border-bottom: 2px solid rgb(17, 23, 26);
    font-size: 1rem;
    display: inline-block;
}

.main-list {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

 li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 4px 8px 4px 8px;
}

.main-list li a:hover {
    color: white;
    background: #1e4682;
}

.main-list .selected-example {
    color: #FFFFFF;
    background-color: #1e4682;
}

.selected-example:hover {
    background-color: rgb(104, 104, 207) !important;
}

.selected-example::before {
    content: "> ";
}

.curl-title {
    background: #21b7af;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    padding: 2px 10px 10px 10px;
}

.curl-block {
    background-color: #f9f2f4;
    padding: 5px 5px 1px 5px;
    color: #263238;
    overflow: scroll;
    max-height: 150px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: #f9f2f4;
    width: 60px;
    height: 60px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: 3px solid rgb(170 60 100);;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: rgb(192 111 140);
}

@media (min-width: 992px) {
    .main-page {
        margin: 0 !important;
        padding-top: 76px !important;
        overflow: visible;
    }

    #list {
        position: fixed;
        top: 76px;
        left: 0;
        width: 25%;
    }

    #steps {
        position: fixed;
        top: 76px;
        right: 0;
        width: 25%;
    }
}

@media (max-width: 991px) {
    .main-page {
        margin: 0 !important;
        padding: 15px;
        overflow: visible;
        width: 100%;
    }

    #list {
        padding-top: 96px;
    }

    #example {
        max-width: 100%;

    }
}