<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ if isset .Params "title" }}{{ .Params.Title }}{{ else }}API Documentation{{ end }} | Elorus</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Complete reference documentation for the Elorus REST API. Includes guidelines and examples to help you interact with the API."/>
    <link rel="canonical" href="https://developer.elorus.com/">
    <link rel="shortcut icon" href="/img/favicon.ico">
    {{ $css := resources.Get "css/generic.css" | resources.Minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />
</head>
<body{{ if isset .Params "body_class" }} class="{{ .Params.body_class }}"{{ end }}>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ $intercom := resources.Get "/js/support.js" | resources.Minify | fingerprint }}
    <script type="text/javascript" src="{{ $intercom.Permalink }}"></script>
</body>
</html>