{{ define "main" }}
{{ partial "topmenu/el/examples.html" . }}
<div class="row main-page">
    <div class="col-xs-12 col-sm-4 col-md-3">
        {{ partial "examples-menus/left.html" . }}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6" id="example">
        <h1>{{ if .Params.title}}{{ .Params.title }}{{ end }}</h1>
        {{ .Content }}
    </div>
    <div class="col-md-3">
        {{ partial "examples-menus/right.html" . }}
    </div>
</div>
<br>
<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/img/menus/up-arrow.svg" style="box-shadow:none">
</button>

{{ $js := resources.Get "js/scrollToTop.js" | resources.Minify | fingerprint }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>
{{ $css := resources.Get "css/examples.css" | resources.Minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}">
{{ end }}