<h2>Authorization variables</h2>
<ul>
    <li><b>Token:</b> API key.<br/>
        To find your API key open the Elorus web application and navigate to the "User Profile".
        The API key is personal and there's only one key per user.
        <img src="/img/examples/common/profile.png">
    </li>
    <li><b>X-Elorus-Organization:</b> Organization ID.<br/>
        The organization whose data you wish to access. To find the Organization ID
        visit the Elorus web application and navigate to "Settings > Organization > Organization ID".
        Each organization has an ID of its own.
    </li>
</ul>